<table style="background-color:#A9A9A9; color: white">
  <tbody>
    <tr>
      <td><p>You have received a new contact form message. The contents of the message are: <p>
      </td>
    </tr>
    <tr>
      <td><p><i><%= @message %></i></p></td>
    </tr>
  </tbody>
</table>

<hr> &reg; The Shop 2015 </hr>

