<h1>Your message has been received!</h1>
<p>
  Hey <%= @name %>
</p>  
<p>
   blah blah blah....
 </p>  
<p>
  Support Team
</p>  
<hr/>
<p>
  Your message to us was:
</p>  
<p>
  <%= @message%>         
</p>  