<h2>Order Summary</h2>

<div class="container order">

 <div class="order_thank_you">
  Congratulations! You ordered this great <%= @order.product.name %> for <%= currency(@order.total / 100)%>. 
  <br>
  <br>
  A confirmation email has been sent.
</div>
<br>
<img class="order_image" src="<%= @order.product.image_url %>">

</div>



