// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar-header {
  width:100%;
  font-family: Roboto Condensed, Impact, sans-serif;
  font-weight: 300;
}

.nav li {
  text-transform: uppercase;
  font-weight: 400;
}

h2 {
  color:#C71585;
  text-align: center;
  font-family: Roboto Condensed, Impact, sans-serif;
  font-weight: 300;
}

.right.carousel-control, .left.carousel-control {
    opacity: 0;
    filter:alpha(opacity=0); /* IE support */
}

.glyphicon {
  color: black;
}

#row {
  margin-top: 50px;
  height: 550px;
  border: solid red;
}

#carousel-example-generic {
  margin-top: 50px;
}

.item{
  height: 500px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: auto;
    line-height: 1;
    margin: 0 auto;
    max-width: 100%;
}