<div class="product-show col-md-4 text-center">
  <%= link_to product_path(product) do %>
    
    <div>
    <%= image_tag product.photo.url, width: "350" %>
    </div>
    <h4><%= product.name %></h4>
    <h5><%= number_to_currency(product.price, :unit => "€") %></h5> 
  <% end %>  
</div>


