<div class="product-show col-md-4 text-center">
  <%= link_to product_path(product) do %>
    
    <div>
      <%= image_tag product.image_url, alt: product.name, height: "350" %>
    </div>
    <h4><%= product.name %></h4>
    <h5><%= number_to_currency(product.price) %></h5> 
  <% end %>  
</div>


