<p id="notice"><%= notice %></p>

<header> 

  <h2> Our Products</h2>

</header>

<div class="container">

<table>

  <thead>
    <tr>
      <th> </th>
      <th>Description</th>
      <th>Price (in €)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      
      <%= render product %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>

</div>